# R / RStudio user files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# R package build artifacts
*.tar.gz
*.Rcheck/

# R package generated documentation
/Meta/
/doc/
inst/doc/

# Project file
baytrends.Rproj

# NEWS outputs
NEWS.md
NEWS.html

# Data raw large/local files
data-raw/salinity_1984to2016.rdata